/* *{
    margin: 0;
    padding: 0;
} */


:root{
    font-family: "Open Sans", sans-serif;
}

main{
    width: 1120px;
    height: 588px;
   
    
}

img{
    border-radius: 28px;
}

.viagem , .amantes{
    color:#E1624F;
    font-weight: bold;
    text-transform: uppercase;
    
}

.descricao{
    text-align: center;
    font-size: 16px;
    
}

h1{
    font-size: 36px;
    
}

.amantes{
    
}

h2{
    font-size: 32px;
}

h2 + p{
    
}

h3{
    font-size: 28px;
    
}

